# Byte-compiled / optimized / DLL files
__pycache__/

# Local data
*.db
*.sqlite

# Images
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.webp

# Models
models/

# Conda environment
.env
.venv
env/
venv/
*.conda
*.env

# VS Code settings
.vscode/